<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TextUtils !</title>
</head>
<body>
    <div>
        <h1>Welcoke to The Text Analyser</h1>
    </div>
    <div>
        <form action="/analyse" method="get">
            <textarea name="text" cols="30" rows="10" style="margin: 0px; width: 803px; height: 114px;"></textarea><br><br>
            <input type="checkbox" name="removepunc"> Remove Punctuations
            <input type="checkbox" name="capitalize"> UPPER CASE
            <input type="checkbox" name="newlineremover"> New Line Remove
            <input type="checkbox" name="sremove"> Space Remover
            <input type="checkbox" name="charcount"> Character Count<br><br>
            <button type="submit">Analyse Text</button>

        </form>
    </div>

</body>
</html>