<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Char Counter</title>
</head>

<body>
   <div class="container">
    <h1> You Said That - {{purpose}}</h1>
    <h2> No. of Characters : {{analysed_text}}</h2><br>
   </div>
   <div>
    <a href="/">
        <button type="button" class="btn btn-success">Back</button>
    </a>
</div>
</body>

</html>